<div class="container">
  <div *ngIf="!isLoggedIn()" class="row">
    <form [formGroup]="form">
      <mat-form-field class="col-12">
        <mat-label>Felhasználónév</mat-label>
        <input matInput type="text" [formControl]="usernameControl" />
        <mat-error>Kötelező</mat-error>
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Jelszó</mat-label>
        <input matInput type="password" [formControl]="passwordControl" />
        <mat-error>Kötelező</mat-error>
      </mat-form-field>

      <button class="btn btn-primary" (click)="login()">Belépés</button>
      <mat-error *ngIf="false === authSuccess"
        >Rossz felhasználónév vagy jelszó</mat-error
      >
    </form>
  </div>
</div>
