<mat-toolbar color="primary" class="example-toolbar">
  <h1 class="example-app-name">Nyilvántartás</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav
    #sidenav
    class="example-sidenav"
    mode="side"
    opened="true"
    *ngIf="isLoggedIn()"
  >
    <mat-nav-list>
      <mat-list-item
        routerLink="/user-devices"
        (click)="clickNavItem($event)"
        class="active"
      >
        <mat-icon>add_to_photos</mat-icon>
        <span class="full-width"> Felhasználó eszközei</span>
      </mat-list-item>

      <mat-list-item
        routerLink="/user-softwares"
        (click)="clickNavItem($event)"
      >
        <mat-icon>adjust</mat-icon>
        <span class="full-width"> Felhasználó szoftverei</span>
      </mat-list-item>

      <mat-list-item routerLink="/manage-users" (click)="clickNavItem($event)">
        <mat-icon>person</mat-icon>
        <span class="full-width"> Felhasználók</span>
      </mat-list-item>

      <mat-list-item
        routerLink="/manage-devices"
        (click)="clickNavItem($event)"
      >
        <mat-icon>computer</mat-icon>
        <span class="full-width"> Eszközök</span>
      </mat-list-item>

      <mat-list-item
        routerLink="/manage-softwares"
        (click)="clickNavItem($event)"
      >
        <mat-icon>description</mat-icon>
        <span class="full-width"> Szoftverek</span>
      </mat-list-item>

      <mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span class="full-width"> Kijelentkezés</span>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list> </mat-nav-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
