<div class="table-container" #TABLE>
  <div class="header-buttons-container">
    <div class="header-buttons">
      <button mat-raised-button (click)="add()" color="primary">Új</button>
      <div class="header-buttons-right">
        <button mat-raised-button color="accent" (click)="exportToExcel()">
          Excel
        </button>
      </div>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" #table>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Azonosító</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="serialNumber">
      <th mat-header-cell *matHeaderCellDef>Széria szám</th>
      <td mat-cell *matCellDef="let element">{{ element.serialNumber }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Név</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Leírás</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Ár</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef>Link</th>
      <td mat-cell *matCellDef="let element">{{ element.link }}</td>
    </ng-container>
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef>Felhasználói azonosító</th>
      <td mat-cell *matCellDef="let element">
        {{ getUserName(element.userId) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef>Aktív</th>
      <td mat-cell *matCellDef="let element">
        {{ element.isActive | booleanToHun }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Műveletek</th>
      <td mat-cell *matCellDef="let element">
        <div class="button-flex-container">
          <button mat-mini-fab color="primary" (click)="edit(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="history(element.id)">
            <mat-icon>history</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="delete(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
